altgraph==0.17.2 ; python_version >= "3.9" and python_version < "4.0"
astroid==3.3.11 ; python_version >= "3.9" and python_version < "4.0"
black==24.8.0 ; python_version >= "3.9" and python_version < "4.0"
cached-property==1.5.2 ; python_version >= "3.9" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
classproperties==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.5 ; python_version >= "3.9" and python_version < "4.0"
coverage==6.4.4 ; python_version >= "3.9" and python_version < "4.0"
coveragespace==6.1 ; python_version >= "3.9" and python_version < "4.0"
datafiles==2.3.1 ; python_version >= "3.9" and python_version < "4.0"
dill==0.3.8 ; python_version >= "3.9" and python_version < "4.0"
docopt==0.6.2 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.1.1 ; python_version >= "3.9" and python_version < "3.11"
freezegun==1.5.5 ; python_version >= "3.9" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
ghp-import==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.3 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==4.12.0 ; python_version >= "3.9" and python_version < "4.0"
iniconfig==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4.0"
json-five==1.1.2 ; python_version >= "3.9" and python_version < "4.0"
macfsevents==0.8.1 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "darwin"
macholib==1.16 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "darwin"
markdown==3.3.7 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
mccabe==0.6.1 ; python_version >= "3.9" and python_version < "4.0"
mergedeep==1.3.4 ; python_version >= "3.9" and python_version < "4.0"
minilog==2.3.1 ; python_version >= "3.9" and python_version < "4.0"
mkdocs-autorefs==0.4.1 ; python_version >= "3.9" and python_version < "4.0"
mkdocs==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
mkdocstrings-python-legacy==0.2.2 ; python_version >= "3.9" and python_version < "4.0"
mkdocstrings==0.18.1 ; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
mypy==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
nose==1.3.7 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.9" and python_version < "4.0"
parse==1.19.0 ; python_version >= "3.9" and python_version < "4.0"
pathspec==0.10.1 ; python_version >= "3.9" and python_version < "4.0"
pefile==2022.5.30 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
platformdirs==2.5.2 ; python_version >= "3.9" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
pydocstyle==6.1.1 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.15.0 ; python_version >= "3.9" and python_version < "4.0"
pyinstaller-hooks-contrib==2022.10 ; python_version >= "3.9" and python_version < "4.0"
pyinstaller==4.5.1 ; python_version >= "3.9" and python_version < "4.0"
pylint==3.3.8 ; python_version >= "3.9" and python_version < "4.0"
pymdown-extensions==10.0 ; python_version >= "3.9" and python_version < "4.0"
pync==2.0.3 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "darwin"
pytest-cov==5.0.0 ; python_version >= "3.9" and python_version < "4.0"
pytest-describe==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
pytest-expecter==3.0 ; python_version >= "3.9" and python_version < "4.0"
pytest-random==0.02 ; python_version >= "3.9" and python_version < "4.0"
pytest==8.3.2 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
python-termstyle==0.1.10 ; python_version >= "3.9" and python_version < "4.0"
pytkdocs==0.16.1 ; python_version >= "3.9" and python_version < "4.0"
pywin32-ctypes==0.2.0 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
pyyaml-env-tag==0.1 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
regex==2025.9.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.9" and python_version < "4.0"
rope==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; python_version >= "3.9" and python_version < "3.11" and platform_python_implementation == "CPython"
ruamel-yaml==0.17.21 ; python_version >= "3.9" and python_version < "4.0"
setuptools==78.1.1 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sly==0.5 ; python_version >= "3.9" and python_version < "4.0"
sniffer==0.4.1 ; python_version >= "3.9" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
tomlkit==0.10.2 ; python_version >= "3.9" and python_version < "4.0"
types-freezegun==1.1.10 ; python_version >= "3.9" and python_version < "4.0"
types-setuptools==65.3.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
universal-startfile==0.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.19 ; python_version >= "3.9" and python_version < "4.0"
watchdog==2.1.9 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.19.1 ; python_version >= "3.9" and python_version < "4.0"
