altgraph==0.17.2 ; python_version >= "3.10" and python_version < "3.15"
astroid==3.3.11 ; python_version >= "3.10" and python_version < "3.15"
black==25.12.0 ; python_version >= "3.10" and python_version < "3.15"
cached-property==1.5.2 ; python_version >= "3.10" and python_version < "3.15"
certifi==2024.7.4 ; python_version >= "3.10" and python_version < "3.15"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "3.15"
classproperties==0.2.0 ; python_version >= "3.10" and python_version < "3.15"
click==8.1.3 ; python_version >= "3.10" and python_version < "3.15"
colorama==0.4.5 ; python_version >= "3.10" and python_version < "3.15"
coverage==7.10.6 ; python_version >= "3.10" and python_version < "3.15"
coveragespace==6.1 ; python_version >= "3.10" and python_version < "3.15"
datafiles==2.3.4 ; python_version >= "3.10" and python_version < "3.15"
dill==0.3.8 ; python_version >= "3.10" and python_version < "3.15"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.15"
exceptiongroup==1.1.1 ; python_version == "3.10"
freezegun==1.5.5 ; python_version >= "3.10" and python_version < "3.15"
future==0.18.3 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "win32"
ghp-import==2.1.0 ; python_version >= "3.10" and python_version < "3.15"
griffe==1.15.0 ; python_version >= "3.10" and python_version < "3.15"
idna==3.3 ; python_version >= "3.10" and python_version < "3.15"
iniconfig==1.1.1 ; python_version >= "3.10" and python_version < "3.15"
isort==6.1.0 ; python_version >= "3.10" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.15"
json-five==1.1.2 ; python_version >= "3.10" and python_version < "3.15"
librt==0.6.3 ; python_version >= "3.10" and python_version < "3.15" and platform_python_implementation != "PyPy"
macfsevents==0.8.4 ; python_version >= "3.10" and python_version <= "3.12" and sys_platform == "darwin"
macholib==1.16 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "darwin"
markdown==3.9 ; python_version >= "3.10" and python_version < "3.15"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "3.15"
mccabe==0.6.1 ; python_version >= "3.10" and python_version < "3.15"
mergedeep==1.3.4 ; python_version >= "3.10" and python_version < "3.15"
minilog==2.3.1 ; python_version >= "3.10" and python_version < "3.15"
mkdocs-autorefs==1.4.3 ; python_version >= "3.10" and python_version < "3.15"
mkdocs-get-deps==0.2.0 ; python_version >= "3.10" and python_version < "3.15"
mkdocs==1.6.1 ; python_version >= "3.10" and python_version < "3.15"
mkdocstrings-python==2.0.1 ; python_version >= "3.10" and python_version < "3.15"
mkdocstrings==0.30.1 ; python_version >= "3.10" and python_version < "3.15"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.15"
mypy==1.19.1 ; python_version >= "3.10" and python_version < "3.15"
nose==1.3.7 ; python_version >= "3.10" and python_version < "3.15"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.15"
parse==1.19.0 ; python_version >= "3.10" and python_version < "3.15"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.15"
pefile==2022.5.30 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "win32"
platformdirs==2.5.2 ; python_version >= "3.10" and python_version < "3.15"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.15"
pydocstyle==6.3.0 ; python_version >= "3.10" and python_version < "3.15"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "3.15"
pyinstaller-hooks-contrib==2025.10 ; python_version >= "3.10" and python_version < "3.15"
pyinstaller==6.17.0 ; python_version >= "3.10" and python_version < "3.15"
pylint==3.3.9 ; python_version >= "3.10" and python_version < "3.15"
pymdown-extensions==10.16.1 ; python_version >= "3.10" and python_version < "3.15"
pync==2.0.3 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "darwin"
pytest-cov==7.0.0 ; python_version >= "3.10" and python_version < "3.15"
pytest-describe==3.1.0 ; python_version >= "3.10" and python_version < "3.15"
pytest-expecter==3.0 ; python_version >= "3.10" and python_version < "3.15"
pytest-random==0.2 ; python_version >= "3.10" and python_version < "3.15"
pytest==8.4.2 ; python_version >= "3.10" and python_version < "3.15"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.15"
python-termstyle==0.1.10 ; python_version >= "3.10" and python_version < "3.15"
pytokens==0.3.0 ; python_version >= "3.10" and python_version < "3.15"
pytoolconfig==1.3.0 ; python_version >= "3.10" and python_version < "3.15"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.15" and sys_platform == "win32"
pyyaml-env-tag==0.1 ; python_version >= "3.10" and python_version < "3.15"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.15"
regex==2025.9.1 ; python_version >= "3.10" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.10" and python_version < "3.15"
rope==1.14.0 ; python_version >= "3.10" and python_version < "3.15"
ruamel-yaml-clib==0.2.14 ; python_version >= "3.10" and python_version < "3.14" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.15 ; python_version >= "3.10" and python_version < "3.15"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "3.15"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.15"
sly==0.5 ; python_version >= "3.10" and python_version < "3.15"
sniffer==0.4.1 ; python_version >= "3.10" and python_version < "3.15"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "3.15"
tomli==2.0.1 ; python_version == "3.10"
tomlkit==0.10.2 ; python_version >= "3.10" and python_version < "3.15"
types-freezegun==1.1.10 ; python_version >= "3.10" and python_version < "3.15"
types-setuptools==80.9.0.20251223 ; python_version >= "3.10" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.15"
universal-startfile==0.4 ; python_version >= "3.10" and python_version < "3.15"
urllib3==2.6.3 ; python_version >= "3.10" and python_version < "3.15"
watchdog==2.1.9 ; python_version >= "3.10" and python_version < "3.15"
